<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleInject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SimpleInject.Properties.Settings>
            <setting name="X86" serializeAs="String">
                <value />
            </setting>
            <setting name="X64" serializeAs="String">
                <value />
            </setting>
            <setting name="Filters" serializeAs="String">
                <value />
            </setting>
            <setting name="HideEmptyTitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastPath" serializeAs="String">
                <value />
            </setting>
        </SimpleInject.Properties.Settings>
    </userSettings>
</configuration>